<taglib form>
-
	$htmlHeadTitle='订单';
	$today = strtotime('today');
	$dayOption = array();
	foreach(array('今天','昨天','前天') as $k=>$v){
		$dayOption[implode(',',array($today-$k*24*3600,$today+(1-$k)*24*3600))] = $v;
	}
block crumbs
	h1 {$htmlHeadTitle|}
		small {$htmlHeadTitle}列表
	ol.breadcrumb
		li
			a href={:U(MODULE_NAME.'/Index/index')}
				i.fa.fa-dashboard
				首页
		li.active {$htmlHeadTitle}

block tableHeader
	h3.box-title
	.box-tools
		form method=get action={:U(MODULE_NAME.'/'.CONTROLLER_NAME.'/'.ACTION_NAME)}
			.input-group.col-xs-2.pull-right
				input.form-control.input-sm.pull-right name=searchStr placeholder=关键字搜索 value={:htmlSpecialChars(I('get.searchStr',''))}
				.input-group-btn
					button.btn.btn-sm.btn-default
						i.fa.fa-search
			.input-group.col-xs-2.pull-right
				- $orderStateOption = getOrderStateOption();
				form:select.form-control.input-sm name=ord_state first=请选择订单状态 options=orderStateOption selected=ord_state
			.input-group.col-xs-2.pull-right
				form:input.form-control.input-sm type=date title=选择结束日期 name=ord_mtime_lt_ placeholder=结束日期
			.input-group.col-xs-2.pull-right
				form:input.form-control.input-sm type=date title=选择开始日期 name=ord_mtime_egt_ placeholder=开始日期
			.input-group.col-xs-2.pull-right
				form:input.form-control.input-sm type=number title=请款人ID name=ord_payee placeholder=请款人ID
				
include Layout/index
